html{
    background-color: black;
    text-align: center;
}

img{
    width: 100%;
    border: 0.2rem solid white;
}

div{
    width: 50%;
    margin: 10% 25%;
}

h1{
    color: white;
    padding: 1rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    font-size: 5vw;
    margin: 0;
}

h2{
    color: white;
    font-size: 2vw;
    font-weight: 200;
    margin: 0;
}
